<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>코딩 테스트#3</title>
</head>
<body>
<section>
    <h1>
        코딩 테스트#3
    </h1>
    <article>
        <p>
            <label class="question">Q.1</label> 질문 1번입니다. 정답은 1번입니다.
        </p>
        <div>
            <input type="radio" name="q1" value="1"><label>1. A</label>
            <input type="radio" name="q1" value="2"><label>2. a</label>
            <input type="radio" name="q1" value="3"><label>3. AaaaAaaaA</label>
            <input type="radio" name="q1" value="4"><label>4. Argh</label>
        </div>
    </article>
    <article>
        <p>
            <label class="question">Q.2</label> 질문 2번입니다. 정답은 3번입니다.
        </p>
        <div>
            <input type="radio" name="q2" value="1"><label>1. B</label>
            <input type="radio" name="q2" value="2"><label>2. b</label>
            <input type="radio" name="q2" value="3"><label>3. AbbbABabA</label>
            <input type="radio" name="q2" value="4"><label>4. Bravo</label>
        </div>
    </article>
    <article>
        <p>
            <label class="question">Q.3</label> 질문 3번입니다. 정답은 4번입니다.
        </p>
        <div>
            <input type="radio" name="q3" value="1"><label>1. C</label>
            <input type="radio" name="q3" value="2"><label>2. cc</label>
            <input type="radio" name="q3" value="3"><label>3. CccCccCcccCCC</label>
            <input type="radio" name="q3" value="4"><label>4. Chocolate</label>
        </div>
    </article>
    <input type="submit" value="정답 제출하기">
    <input type="button" value="결과 보기">
</section>


<script src="/static/js/index.js"></script>
</body>
</html>